.root {
    -fx-background-color: rgb(170,189,206);
}

.controls {
    -fx-padding: 15, 15, 15, 40;
    -fx-spacing: 10;
    -fx-background-color: rgb(110,122,153);
    -fx-alignment: center;
}

.legend {
    -fx-alignment: center;
    -fx-padding: 15;
    -fx-vgap: 40;
}

.legend-item {
    -fx-background-color: rgb(96,153,183);
    -fx-padding: 5;
    -fx-spacing: 15;
    -fx-font-family: Verdana;
    -fx-font-size: 14;
    -fx-font-weight: normal;
}

.right-pane-item {
    -fx-background-color: rgb(96,153,183);
    -fx-spacing: 5;
    -fx-padding: 10;
    -fx-border-radius: 2;
    -fx-border-color: rgb(38, 71, 97);
    -fx-border-style: solid;
    -fx-border-width: 3;
}

.title {
    -fx-alignment: center;
    -fx-background-color: rgb(110,122,153);
    -fx-font-family: Verdana;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-padding: 5;
}

.button {
    -fx-pref-width: 100;
    -fx-pref-height: 20;
}

.scroll-pane {
    -fx-max-height: 500;
    -fx-max-width: 500;

    -fx-pref-height: 500;
    -fx-pref-width: 500;
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.shape-grid {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.grid-container {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-pref-height: 497;
    -fx-pref-width: 497;
}

.center-pane {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

.chart {
    -fx-max-height: 90;
    -fx-max-width: 110;
    -fx-horizontal-zero-line-visible: false;
    -fx-vertical-zero-line-visible: false;
}

.chart-plot-background {
    -fx-background-color: rgb(170,189,206);
}

.chart-vertical-grid-lines {
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
}

.axis {
    -fx-tick-labels-visible: false;
    -fx-tick-mark-visible: false;
    -fx-minor-tick-visible: false;
    -fx-opacity: 0;
}

.label {
    -fx-alignment: center-left;
    -fx-text-fill: black;
    -fx-font-family: Verdana;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}